<div class="panel panel-primary">

  <div class="panel-heading">
    <h2>Resource Type List</h2>
  </div>

  <div class="panel-body">
    <table class="table table-striped">

      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>New Name</th>
        <th>Quantity</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let resourceType of types, let index = index">
        <td>{{resourceType.id}}</td>
        <td>{{resourceType.name}}</td>
        <td><input type="text" [(ngModel)]="newNameOfResourceType[index]" class="form-control"></td>
        <td>{{resourceTypeQuantity[index]}}</td>
        <td>
          <button (click)="deleteResourceType(resourceType.id)" class="btn btn-danger" style="margin-left: 5px">Delete</button>
          <button (click)="updateResourceType(resourceType.id, index)" class="btn btn-warning" style="margin-left: 5px">Update</button>
        </td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td><input type="text" [(ngModel)]="newResourceType.name" class="form-control"></td>
        <td></td>
        <td><button (click)="addResourceType()" class="btn btn-secondary" style="margin-left: 5px">Add Resource Type</button></td>
      </tr>

      </tbody>

    </table>
  </div>
</div>
