<h2>Route Details</h2>

<div id="map">
</div>

<hr/>

<div *ngIf="route0">

  <div>
    <label><b>Name: </b></label> {{route0.name}}
  </div>
  <div>
    <label><b>First Warehouse: </b></label> {{warehouses[0].name}}
  </div>
</div>

<br>

<div *ngIf="transport">
  
  <div>
    <h4>
      Transport
    </h4>
  </div>

  <div>
    <label><b>Resource Type: </b></label> {{resourceType.name}}
  </div>

  <div>
    <label><b>Quantity: </b></label> {{transport.quantity}}
  </div>
  <br>
</div>

<div class="panel panel-primary">

  <div class="panel-heading">
    <h2>Warehouse List</h2>
  </div>

  <div class="panel-body">
    <table class="table table-striped">

      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Order</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let warehouse of warehouses, let index = index">
        <td>{{warehouse.id}}</td>
        <td>{{warehouse.name}}</td>
        <td>{{warehouse.latitude}}</td>
        <td>{{warehouse.longitude}}</td>
        <td>{{destinations[index].order}}</td>
      </tr>
      </tbody>

    </table>
  </div>
</div>

<button (click)="goToRoutelist()" class="btn btn-primary">Back to Route List</button><br>
