<div class="panel panel-primary">

  <div class="panel-heading">
    <h2>Route List</h2>
  </div>

  <div class="panel-body">
    <table class="table table-striped">

      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>ID First Warehouse</th>
        <th>Warehouse Name</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let route of routes, let index = index">
        <td>{{route.id}}</td>
        <td>{{route.name}}</td>
        <td>{{route.id_first_warehouse}}</td>
        <td>{{warehouseNames[index]}}</td>
        <td>
          <button (click)="deleteRoute(route.id)" class="btn btn-danger" style="margin-left: 5px">Delete</button>
          <button (click)="routeDetails(route.id)" class="btn btn-info" style="margin-left: 5px">Details</button>
        </td>
      </tr>
      </tbody>

    </table>
  </div>
</div>
