<h2>Create Route</h2>

<hr>

<div [hidden]="submitted" style="width: 400px;">
  <form [formGroup]="routeForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">Name: </label>
      <input type="text" formControlName="name" [(ngModel)]="route.name" class="form-control" id="name">
    </div>

    <div class="form-group">
      <label for="id_first_warehouse">First Warehouse: </label>
      <select formControlName="id_first_warehouse" [(ngModel)]="route.id_first_warehouse" class="form-control" id="id_first_warehouse">
        <option></option>
        <option *ngFor="let warehouse of warehouses | async" [ngValue]="warehouse.id">{{warehouse.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="id_last_warehouse">Last Warehouse: </label>
      <select formControlName="id_last_warehouse" [(ngModel)]="route.id_last_warehouse" class="form-control" id="id_last_warehouse">
        <option></option>
        <option *ngFor="let warehouse of warehouses | async" [ngValue]="warehouse.id">{{warehouse.name}}</option>
      </select>
    </div>

    <hr>

    <div class="form-group" *ngFor = "let destination of dest, let index = index">
      <label>New Destination: </label>
      <select formControlName="destination" [(ngModel)]="dest[index].id_warehouse" class="form-control">
        <option></option>
        <option *ngFor="let warehouse of warehouses | async" [ngValue]="warehouse.id">{{warehouse.name}}</option>
      </select>
    </div>

    <div *ngFor = "let destination of dest, let index = index">
      {{index}} || {{dest[index].order}} || {{dest[index].id_warehouse}}
    </div>

    <div class="form-group">
      <button (click)="addNewDestination()" type="button" [disabled]="!routeForm.valid" class="btn btn-primary">Add new destination</button>
    </div>

    <button type="submit" [disabled]="!routeForm.valid" class="btn btn-success">Submit</button>
  </form>
</div>
