<h2>Warehouse Details</h2>
<div id="map"></div>
<hr>

<div *ngIf="warehouse">
  <div><label><b>Name: </b></label> {{warehouse.name}}</div>
  <div><label><b>Latitude: </b></label> {{warehouse.latitude}}</div>
  <div><label><b>Longitude: </b></label> {{warehouse.longitude}}</div>
</div>
<br>

<div class="panel panel-primary">

  <div class="panel-heading">
    <h2>Resources List</h2>
  </div>

  <div class="panel-body">
    <table class="table table-striped">

      <thead>
      <tr>
        <th>ID</th>
        <th>Resource Name</th>
        <th>Quantity</th>
        <th>Change Quantity</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let resource of resources, let index = index">
        <td>{{resource.id}}</td>
        <td>{{resourceNames[index].name}}</td>
        <td>{{resource.quantity}}</td>
        <td><input type="number" [(ngModel)]="resourceQuantity[index]" class="form-control"></td>
        <td>
          <button (click)="deleteResource(resource.id, resource.idResourceType)" class="btn btn-danger" style="margin-left: 5px">Delete</button>
          <button (click)="updateResource(resource.id, index)" class="btn btn-warning" style="margin-left: 5px">Update</button>
        </td>
      </tr>

      <tr *ngIf="addResourceType.length > 0">
        <td></td>
        <td>
          <select [(ngModel)]="newResource.idResourceType" class="form-control">
            <option></option>
            <option *ngFor="let resourceType of addResourceType" [ngValue]="resourceType.id">{{resourceType.name}}</option>
          </select>
        </td>
        <td></td>
        <td><input type="number" [(ngModel)]="newResource.quantity" class="form-control"></td>
        <td><button (click)="addResource()" class="btn btn-secondary" style="margin-left: 5px">Add Resource</button></td>
      </tr>
      </tbody>

    </table>
  </div>
</div>

<button (click)="goToWarehouselist()" class="btn btn-primary">Back to Warehouses List</button><br>
