<h2>Route Details - {{route0.name}}</h2>
<br>

<div id="map">
</div>
<br>

<div [hidden]="submitted" style="width: 400px;">
  <form [formGroup]="destinationForm">
    <div class="form-group">
      <label for="firstDestination">Chosen warehouse: </label>
      <input type="text" formControlName="firstDestination" [(ngModel)]="firstWarehouse.name" class="form-control" id="firstDestination">
    </div>
  </form>
</div>
<hr>

<h3>
  Choose resource nad quantity
</h3>

<div [hidden]="submitted" style="width: 400px;">
  <form [formGroup]="destinationForm" (ngSubmit)="createRouteByResource()">

    <div class="form-group">
      <label for="resource">Pick resource: </label>
      <select formControlName="resource" [(ngModel)]="transport.idResourceType" class="form-control" id="resource">
        <option></option>
        <option *ngFor="let type of resourceTypes" [ngValue]="type.id">{{type.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="quantity">Choose quantity: </label>
      <input type="number" formControlName="quantity" [(ngModel)]="transport.quantity" class="form-control" id="quantity">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
<hr>

<h3>
  Choose destinations
</h3>
<hr>

<div [hidden]="submitted" style="width: 400px;">
  <form [formGroup]="destinationForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <button (click)="addNewDestination()" type="button" [disabled]="!routeForm.valid" class="btn btn-primary">Add new destination</button>
    </div>

    <div class="form-group" *ngFor = "let new of newDestinations, let index = index">
      <label>New Destination: </label>
      <br>ID: {{destinations[index+1].id_warehouse}}
      <select formControlName="newDestination" [(ngModel)]="destinations[index+1].id_warehouse" class="form-control">
        <option></option>
        <option *ngFor="let warehouse of warehouses | async" [ngValue]="warehouse.id">{{warehouse.name}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
