<h2>Route Details - {{route0.name}}</h2>
<br>

<div id="map">
</div>
<br>

<div *ngIf="!submitted" style="width: 400px;">
      <label>Chosen warehouse: </label>
      <div>{{firstWarehouse.name}}</div>
</div>
<hr>

<h3>
  Choose resource and quantity
</h3>

<div *ngIf="!submitted" style="width: 400px;">
  <form [formGroup]="destinationForm" (ngSubmit)="createRouteByResource()">

    <div class="form-group">
      <label for="resource">Pick resource: </label>
      <select formControlName="resource" [(ngModel)]="transport.idResourceType" class="form-control" id="resource">
        <option></option>
        <option *ngFor="let type of resourceTypes" [ngValue]="type.id">{{type.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="quantity">Choose quantity: </label>
      <input type="number" formControlName="quantity" [(ngModel)]="transport.quantity" class="form-control" id="quantity">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
<hr>

<h3>
  Choose destinations
</h3>

<div [hidden]="submitted" style="width: 400px;">
  <form [formGroup]="destinationForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label>New Destination: </label>
      <select formControlName="newDestination" [(ngModel)]="destinationToAdd.id_warehouse" class="form-control">
        <option></option>
        <option *ngFor="let warehouse of warehousesToSelect" [ngValue]="warehouse.id">{{warehouse.name}}</option>
      </select>
    </div>

    <div class="form-group" *ngIf="destinationToAdd.id_warehouse != null && destinationToAdd.id_warehouse != 0">
      <button (click)="addDestinationToList()" type="button" [disabled]="!destinationForm.valid" class="btn btn-primary">Add new destination</button>
    </div>

    <div *ngIf="destinations.length > 0">
      <label>Chosen destinations: </label>
      <div *ngFor="let destination of destinations; index as i">
        {{i+1}}. {{wars[i].name}}
      </div>
    </div>
    <br>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
