<h2>Create Warehouse</h2>

<hr>

<div [hidden]="submitted" style="width: 400px;">
  <form [formGroup]="warehouseForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">Name: </label>
      <input type="text" formControlName="name" [(ngModel)]="warehouse.name" class="form-control" id="name">
    </div>

    <div class="form-group">
      <label for="latitude">Latitude: </label>
      <input type="text" formControlName="latitude" [(ngModel)]="warehouse.latitude" class="form-control" id="latitude">
    </div>

    <div class="form-group">
      <label for="longitude">Longitude: </label>
      <input type="text" formControlName="longitude" [(ngModel)]="warehouse.longitude" class="form-control" id="longitude">
    </div>

    <div class="form-group">
      <label>Airport: </label>
      <div class="custom-control custom-radio">
        <input id="trueAirport" type="radio" class="custom-control-input" name="airport" formControlName="airport" value="true" [(ngModel)]="warehouse.airport">
        <label class="custom-control-label" for="trueAirport">Yes</label>
      </div>

      <div class="custom-control custom-radio">
        <input id="falseAirport" type="radio" class="custom-control-input" name="airport" formControlName="airport" value="false" [(ngModel)]="warehouse.airport">
        <label class="custom-control-label" for="falseAirport">No</label>
      </div>
    </div>

    <div class="form-group">
      <label>Seaport: </label>
      <div class="custom-control custom-radio">
        <input id="trueSeaport" type="radio" class="custom-control-input" name="seaport" formControlName="seaport" value="true" [(ngModel)]="warehouse.seaport">
        <label class="custom-control-label" for="trueSeaport">Yes</label>
      </div>

      <div class="custom-control custom-radio">
        <input id="falseSeaport" type="radio" class="custom-control-input" name="seaport" formControlName="seaport" value="false" [(ngModel)]="warehouse.seaport">
        <label class="custom-control-label" for="falseSeaport">No</label>
      </div>
    </div>

    <button type="submit" [disabled]="!warehouseForm.valid" class="btn btn-success">Submit</button>
  </form>
</div>

<!--
<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>
-->
