<h2>Warehouse Details</h2>

<div id="map">
</div>

<hr/>

<div *ngIf="warehouse">

  <div>
    <label><b>Name: </b></label> {{warehouse.name}}
  </div>

  <div>
    <label><b>Latitude: </b></label> {{warehouse.latitude}}
  </div>

  <div>
    <label><b>Longitude: </b></label> {{warehouse.longitude}}
  </div>

</div>

<br>

<div class="panel panel-primary">

  <div class="panel-heading">
    <h2>Resources List</h2>
  </div>

  <div class="panel-body">
    <table class="table table-striped">

      <thead>
      <tr>
        <th>ID</th>
        <th>ID Resource Type</th>
        <th>Resource Name</th>
        <th>Quantity</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let resource of resources, let index = index">
        <td>{{resource.id}}</td>
        <td>{{resource.idResourceType}}</td>
        <td>{{resourceNames[index].name}}</td>
        <td>{{resource.quantity}}</td>
      </tr>
      </tbody>

    </table>
  </div>
</div>

<button (click)="list()" class="btn btn-primary">Back to Route List</button><br>
