<h2>Route Details</h2>

<div id="map">
</div>

<hr/>

<div *ngIf="route0">

  <div>
    <label><b>Name: </b></label> {{route0.name}}
  </div>
  <div>
    <label><b>First Warehouse: </b></label> {{warehouses[0].name}}
  </div>
</div>

<br>

<div class="panel panel-primary">

  <div class="panel-heading">
    <h2>Warehouse List</h2>
  </div>

  <div class="panel-body">
    <table class="table table-striped">

      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Latitude</th>
        <th>Longitude</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let warehouse of warehouses">
        <td>{{warehouse.id}}</td>
        <td>{{warehouse.name}}</td>
        <td>{{warehouse.latitude}}</td>
        <td>{{warehouse.longitude}}</td>
      </tr>
      </tbody>

    </table>
  </div>
</div>

<br>

<div class="panel panel-primary">

  <div class="panel-heading">
    <h2>Destination List</h2>
  </div>

  <div class="panel-body">
    <table class="table table-striped">

      <thead>
      <tr>
        <th>ID</th>
        <th>Route ID</th>
        <th>Warehouse ID</th>
        <th>Order</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let destination of destinations">
        <td>{{destination.id}}</td>
        <td>{{destination.id_route}}</td>
        <td>{{destination.id_warehouse}}</td>
        <td>{{destination.order}}</td>
      </tr>
      </tbody>

    </table>
  </div>
</div>

<button (click)="list()" class="btn btn-primary">Back to Route List</button><br>
