<h2>Route Details</h2>

<div id="map">
</div>

<hr/>

<div *ngIf="route0">
  <div>
    <label><b>Name: </b></label> {{route0.name}}
  </div>
</div>

<div [hidden]="submitted" style="width: 400px;">
  <form [formGroup]="destinationForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="firstDestination">First Destination: </label>
      <input type="text" formControlName="firstDestination" [(ngModel)]="firstWarehouse.name" class="form-control" id="firstDestination">
    </div>

    <div class="form-group">
      <button (click)="addNewDestination()" type="button" [disabled]="!routeForm.valid" class="btn btn-primary">Add new destination</button>
    </div>

    <div class="form-group" *ngFor = "let new of newDestinations, let index = index">
      <label>New Destination: </label>
      <br>ID: {{destinations[index+1].id_warehouse}}
      <select formControlName="newDestination" [(ngModel)]="destinations[index+1].id_warehouse" class="form-control">
        <option></option>
        <option *ngFor="let warehouse of warehouses | async" [ngValue]="warehouse.id">{{warehouse.name}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
