<div class="panel panel-primary">

  <div class="panel-heading">
    <h2>Warehouse List</h2>
  </div>

  <div id="map"></div>

  <div class="panel-body">
    <table class="table table-striped">

      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let warehouse of warehouses">
        <td>{{warehouse.id}}</td>
        <td>{{warehouse.name}}</td>
        <td>{{warehouse.latitude}}</td>
        <td>{{warehouse.longitude}}</td>
        <td>
          <button (click)="deleteWarehouse(warehouse.id)" class="btn btn-danger" style="margin-left: 5px">Delete</button>
          <button (click)="updateWarehouse(warehouse.id)" class="btn btn-warning" style="margin-left: 5px">Update</button>
          <button (click)="warehouseDetails(warehouse.id)" class="btn btn-info" style="margin-left: 5px">Details</button>
        </td>
      </tr>
      </tbody>

    </table>
  </div>
</div>
